@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
  @apply transition-colors duration-200;
}

/* Add class to exempt elements from filter effects */
.filter-exempt {
  filter: none !important;
}

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
} 